.carousel-prev:before {
  background-image: url("https://i.ibb.co/Fb7nyrp/Group-127.png") !important;
}
.carousel-next:before {
  background-image: url("https://i.ibb.co/Fb7nyrp/Group-127.png") !important;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.heroMobile {
}
.heroDesktop {
  display: none;
}

.sliderContentItem img{
    width: 100%;
    
    object-fit: cover;
}
@media (min-width: 1200px) {
  .heroDesktop {
    display: block;
  }
  .heroMobile {
    display: none;
  }
}
