section {
    width: 100%;
    //height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto ;
  
    .container-question {
      width: 100%;
      max-width: 80rem;
      margin: 0 auto 7rem;
     
      padding: 0 1.5rem;
    }
    .acordion-item {
      background-color: #2fb1ea;
      border-radius: 0.4rem;
      margin-bottom: 1rem;
      padding: 1rem;
      box-shadow: 0.1em 0.01em rgba(51, 51, 51, 0.247);
    }
    .acordion-link {
      font-size: 1.6rem;
      color: #ffffff;
      text-decoration: none;
      background-color: #2fb1ea;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 0;
      transition: max-height 2000ms;
      .icon-question {
        width: 1.8rem;
        padding: 0.5rem;
      }
      .remove {
        display: none;
      }
    }
    .acordion-link:hover {
     
      color: #de5af0;
      
    }
    .answer {
      max-height: 0;
      overflow: hidden;
      position: relative;
      background-color: #8cddf9;
      transition: max-height 650ms;
    }
    .answer::before {
      content: "";
      position: absolute;
      width: 0.6rem;
      height: 100%;
      background-color: #6633ffe3;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
    .answer p {
      font-size: 1.4rem;
      color: #6633ffe3;
      padding: 1rem;
    }
    .acordion-item:target .answer {
      max-height: 20rem;
    }
    .acordion-item:target .add {
      display: none;
    }
    .acordion-item:target .remove {
      display: block;
    }}